<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.sony.opendevices.carrierconfig.overlay.common"
    android:versionCode="1"
    android:versionName="1.0">
    <application android:hasCode="false" />
    <overlay
      android:targetPackage="com.android.carrierconfig"
      android:isStatic="true"
      android:priority="0"/>
</manifest>
