r_dir_file(healthd, sysfs_battery_supply)
r_dir_file(healthd, sysfs_usb_supply)
r_dir_file(healthd, sysfs_thermal);

#allow healthd read rtc device file
allow healthd rtc_device:chr_file r_file_perms;
