allow init audio_device:chr_file { write ioctl };
allow init app_data_file:dir { search getattr };
allow init app_data_file:file { read getattr open };
allow init fuse:dir write;
allow init kernel:security read_policy;
allow init kernel:file { write };
allow init property_socket:sock_file write;
allow init qmuxd_socket:sock_file write;
allow init self:capability { setpcap };
allow init self:capability2 block_suspend;
allow init self:netlink_kobject_uevent_socket read;
allow init self:netlink_route_socket { read bind create };
allow init self:netlink_socket { read bind create write };
allow init self:socket { create ioctl bind read write };
allow init sensors_data_file:file { append };
allow init sensors_device:chr_file { ioctl };
allow init smd_device:chr_file { write ioctl };
allow init socket_device:sock_file { write create getattr setattr };
allow init device_latency:chr_file write;
allow init hvdcp_device:chr_file { write ioctl };
allow init modem_efs_partition_device:blk_file { write };
allow init self:netlink_kobject_uevent_socket { bind create setopt };
allow init smem_log_device:chr_file { write ioctl };
allow init sysfs_addrsetup:file getattr;
allow init tad_socket:sock_file { write };
allow init tad_socket:unix_stream_socket { connectto };
allow init tad:unix_stream_socket { connectto };
allow init tee_device:chr_file { write ioctl };
allow init trim_area_partition_device:blk_file { write };
allow init uio_device:chr_file { write };
allow init sysfs_wake_lock:file { getattr };
allow init sysfs_usb_supply:file { getattr };
allow init sysfs_usb_supply:lnk_file { read getattr };
allow init mtp_device:chr_file { getattr };
allow init block_device:blk_file { write };
allow init device_latency:chr_file { write };
allow init wcnss_device:chr_file { write };
allow init tmpfs:file { write };
allow init debugfs:dir { mounton };
