type mlog_qmi, domain;
type mlog_qmi_exec, exec_type, file_type;

# Started by init
init_daemon_domain(mlog_qmi)

allow mlog_qmi self:capability { net_raw };
allow mlog_qmi self:socket create_socket_perms;

# Access to /dev/smem_log
allow mlog_qmi smem_log_device:chr_file rw_file_perms;
