type mm-qcamerad, domain;
type mm-qcamerad_exec, exec_type, file_type;

init_daemon_domain(mm-qcamerad)

#added to support EZTune for camera
userdebug_or_eng(`
  allow mm-qcamerad camera_data_file:file create_file_perms;
  allow mm-qcamerad self:tcp_socket create_stream_socket_perms;
  allow mm-qcamerad node:tcp_socket node_bind;
')

#Communicate with user land process through domain socket
allow mm-qcamerad camera_socket:sock_file { create unlink write };
allow mm-qcamerad camera_socket:dir w_dir_perms;
unix_socket_connect(mm-qcamerad, sensors, sensors)

#Allow connections between sensor manager and mm-qcamerad
allow mm-qcamerad system_server:unix_stream_socket rw_socket_perms;
binder_call(mm-qcamerad, system_server);
binder_use(mm-qcamerad);

# Interact with other media devices
allow mm-qcamerad { gpu_device video_device sensors_device }:chr_file rw_file_perms;

allow mm-qcamerad { surfaceflinger mediaserver }:fd use;

allow mm-qcamerad camera_data_file:dir w_dir_perms;
allow mm-qcamerad camera_data_file:sock_file { create unlink };

allow mm-qcamerad camera_prop:file r_file_perms;
allow mm-qcamerad ion_device:chr_file rw_file_perms;

r_dir_file(mm-qcamerad, sysfs_video)
