type netmgrd, domain;
type netmgrd_exec, exec_type, file_type;

net_domain(netmgrd)
init_daemon_domain(netmgrd)

#Allow netmgrd operations
allow netmgrd netmgrd:capability {
    dac_override
    net_raw
    net_admin
    sys_module
    fsetid
    setgid
    setuid
    setpcap
};

#Allow logging
allow netmgrd smem_log_device:chr_file rw_file_perms;

#Allow operations on different types of sockets
allow netmgrd netmgrd:netlink_socket { write read create bind };
allow netmgrd netmgrd:socket { create ioctl };
allow netmgrd netmgrd:netlink_route_socket { setopt getattr write nlmsg_write };

qmux_socket(netmgrd);

#Allow writing of ipv6 network properties
allow netmgrd proc_net:file rw_file_perms;

set_prop(netmgrd, system_prop)
set_prop(netmgrd, net_radio_prop)

#Allow execution of commands in shell
allow netmgrd system_file:file x_file_perms;

allow netmgrd self:socket create_socket_perms;

#Allow communication with netd
allow netmgrd netd_socket:sock_file w_file_perms;
r_dir_file(netmgrd, net_data_file)

r_dir_file(netmgrd, sysfs_ssr);

#Allow netmgrd to create netmgrd socket
allow netmgrd netmgrd_socket:dir create_dir_perms;
allow netmgrd netmgrd_socket:sock_file create_file_perms;

allow netmgrd shell_exec:file rx_file_perms;

#Allow netmgrd to use wakelock
wakelock_use(netmgrd)

r_dir_file(netmgrd, sysfs)
r_dir_file(netmgrd, sysfs_socinfo)
r_dir_file(netmgrd, sysfs_subsys)

allow netmgrd toolbox_exec:file rx_file_perms;
