allow system_server qemu_hw_mainkeys_prop:file r_file_perms;

allow system_server timekeep_app_data_file:dir r_dir_perms;

allow system_server sysfs_subsys:file r_file_perms;
