type tad, domain;
type tad_exec, exec_type, file_type;

# Started by init
init_daemon_domain(tad)

# Allow tad to work it's magic
allow tad block_device:dir search;
allow tad trim_area_partition_device:blk_file rw_file_perms;
