type tad, domain;
type tad_exec, exec_type, file_type;
type tad_block_device, dev_type;

# Started by init
init_daemon_domain(tad)

# Allow tad to work it's magic
allow tad block_device:dir search;
allow tad tad_block_device:dir create_dir_perms;
allow tad tad_block_device:blk_file rw_file_perms;
allow tad trim_area_partition_device:blk_file rw_file_perms;
