type tfa_amp, domain;
type tfa_amp_exec, exec_type, file_type;

# Started by init
init_daemon_domain(tfa_amp)

allow tfa_amp self:capability dac_override;

# Access to /dev/tfa98xx
allow tfa_amp audio_device:chr_file rw_file_perms;
