# Allow firmware_file access to load Non-HLOS images
r_dir_file(ueventd, firmware_file)

# Allow persist_file access to wcnss bin
r_dir_file(ueventd, persist_file)

# For wifi to access wifi_data_file
r_dir_file(ueventd, wifi_data_file)

allow ueventd {
    sysfs_battery_supply
    sysfs_thermal
    sysfs_usb_supply
    sysfs_socinfo
}:file w_file_perms;
