type wcnss_service, domain;
type wcnss_service_exec, exec_type, file_type;

init_daemon_domain(wcnss_service)
net_domain(wcnss_service)

qmux_socket(wcnss_service);
