# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on early-init
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

on init
    # Enable subsystem restart
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys1/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys2/restart_level "RELATED"
    write /sys/bus/msm_subsys/devices/subsys3/restart_level "RELATED"

    mkdir /tmp
    mount tmpfs tmpfs /tmp nosuid mode=0755,uid=0,gid=0
    symlink /dev/socket /tmp

    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

    chown system system /sys/devices/mdss_dsi_panel/panel_id
    chmod 0440 /sys/devices/mdss_dsi_panel/panel_id

    symlink /sdcard /storage/sdcard0

    # Setup zram options
    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0

on post-fs-data
    # Create directory used by bluetooth subsystem
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    # To observe dnsmasq.leases file for dhcp information of soft ap.
    chown dhcp system /data/misc/dhcp

    # Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

    # create directory for scd
    mkdir /dev/socket/scd 0755 system system
    mkdir /data/scd 0755 system system

    # Create directory for TZ Apps
    mkdir /data/misc/qsee 0770 system system
    mkdir /data/fpc 0700 system system

    mkdir /data/misc/dts 0770 media audio
    mkdir /data/persist 0770 persist_rw persist_rw

    # Create directory used by audio subsystem
    mkdir /data/misc/audio 0770 audio audio

    # Create directory for audio delta files
    mkdir /data/misc/audio/acdbdata 0770 media audio
    mkdir /data/misc/audio/acdbdata/delta 0770 media audio

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist

    mkdir /data/etc 0775
    mkdir /data/system 0775 system system

    # Create directories for Location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps

    # Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    # Enable the setgid bit on the directory
    mkdir /data/audio 0770 media audio
    chmod 2770 /data/audio

    mkdir /data/data/media 0770 media media

    # QCOM camera stack
    mkdir /data/misc/camera 0770 camera camera

    # Sensors
    mkdir /data/misc/sensors 0775 system system

    # NFC
    # Local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    # FM Radio
    mkdir /data/misc/fm 0770 system system

    chown system /dev/block/bootdevice/by-name

    setprop vold.post_fs_data_done 1

on charger
    # Booting modem
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    start rmt_storage
    start mlog_qmi_service
    start irsc_util

on early-boot
    # Set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on boot
    # Bluetooth modules
    chown system system /sys/module/bluetooth/parameters/disable_ertm
    chown system system /sys/module/bluetooth/parameters/disable_esco
    chown system system /sys/module/bluetooth/parameters/enable_hs
    chmod 0644 /sys/module/bluetooth/parameters/disable_ertm
    chmod 0644 /sys/module/bluetooth/parameters/disable_esco
    chmod 0644 /sys/module/bluetooth/parameters/enable_hs

    # Bluetooth rfkill
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/state

    # Bluetooth LPM
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/proto
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/lpm
    chown bluetooth net_bt_stack /proc/bluetooth/sleep/btwrite
    chmod 0660 /proc/bluetooth/sleep/proto
    chmod 0660 /proc/bluetooth/sleep/lpm
    chmod 0660 /proc/bluetooth/sleep/btwrite

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps
    mkdir /dev/socket/qmux_nfc 0770 nfc nfc
    chmod 2770 /dev/socket/qmux_nfc

    #Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

    # RQBalance-PowerHAL PowerServer
    mkdir /dev/socket/powerhal 0773 system system

    #create netmgr log dir
    mkdir /data/misc/netmgr 0770 radio radio
    chmod 0770 /data/misc/netmgr

    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete

    # Create folder for timekeep
    mkdir /data/time/ 0700 system system

    # Camera Recording
    mkdir /dev/video
    symlink /dev/video32 /dev/video/venus_dec
    symlink /dev/video33 /dev/video/venus_enc

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # Graphics Permissions
    chown system graphics /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/idle_time

    # Dynamic Resolution Switch
    chown system graphics /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb0/mode

    chown system graphics /sys/class/graphics/fb1/avi_itc
    chown system graphics /sys/class/graphics/fb1/avi_cn0_1
    chown system graphics /sys/class/graphics/fb1/hpd
    chown system graphics /sys/class/graphics/fb1/product_description
    chown system graphics /sys/class/graphics/fb1/vendor_name
    chown system graphics /sys/class/graphics/fb1/video_mode
    chown system graphics /sys/class/graphics/fb1/hdcp/tp
    chmod 0664 /sys/class/graphics/fb1/avi_itc
    chmod 0664 /sys/class/graphics/fb1/avi_cn0_1
    chmod 0664 /sys/class/graphics/fb1/hpd
    chmod 0664 /sys/class/graphics/fb1/product_description
    chmod 0664 /sys/class/graphics/fb1/vendor_name
    chmod 0664 /sys/class/graphics/fb1/video_mode
    chmod 0664 /sys/class/graphics/fb1/hdcp/tp

    # FB2 permissions
    chown system graphics /sys/class/graphics/fb2/ad
    chmod 0664 /sys/class/graphics/fb2/ad

    # For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    chown root system /proc/net/ip_conntrack

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 8388608
    write /proc/sys/net/core/wmem_max 8388608

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # Set the console loglevel to < KERN_INFO
    # Set the default message loglevel to KERN_INFO
    write /proc/sys/kernel/printk "6 6 1 7"

    setrlimit 4 -1 -1
    write /proc/sys/kernel/dmesg_restrict 0
