on init
    # USB setup
    setprop sys.usb.configfs 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

# Set idVendor as Sony for all USB configurations
on property:sys.usb.config=*
    write /config/usb_gadget/g1/idVendor 0x0fce
