# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# SONY misc
service tad_static /odm/bin/tad_static /dev/block/bootdevice/by-name/TA 0,16
    class core
    user root
    group root
    socket tad stream 0660 system system
    seclabel u:r:tad:s0
    writepid /dev/cpuset/system-background/tasks

# SONY misc
service ta_qmi_service /odm/bin/ta_qmi_service
    class core
    user root
    writepid /dev/cpuset/system-background/tasks

# SONY prop
service sct_service /odm/bin/sct_service
    class core
    user root
    writepid /dev/cpuset/system-background/tasks

# SONY prop
service mlog_qmi_service /odm/bin/mlog_qmi_service
    class core
    user root
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service rmt_storage /odm/bin/rmt_storage
    class core
    user root
    group system wakelock
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service qmuxd /odm/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth wakelock gps nfc diag
    disabled
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service netmgrd /odm/bin/netmgrd
    class main
    group system wakelock
    disabled
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service irsc_util /odm/bin/irsc_util "/etc/sec_config"
    class main
    user root
    oneshot

# QCOM prop
service per_mgr /odm/bin/pm-service
    class core
    user system
    group system net_raw
    writepid /dev/cpuset/system-background/tasks

# QCOM prop
service per_proxy /odm/bin/pm-proxy
    class core
    user system
    group system net_raw
    disabled
    writepid /dev/cpuset/system-background/tasks

service msm_irqbalance /odm/bin/msm_irqbalance -f /system/etc/msm_irqbalance.conf
    socket msm_irqbalance seqpacket 660 root system
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# QCOM sensors
service sensors /odm/bin/sensors.qcom
    class main
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# QCOM Secure
service qseecomd /odm/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

# QCOM ADSP FastRPC
service adsprpcd /odm/bin/adsprpcd
   class main
   user media
   group media

# Offline charger
service charger /sbin/healthd -c
    class charger
    critical
    seclabel u:r:healthd:s0
    writepid /dev/cpuset/system-background/tasks

# DSDS second ril
service ril-daemon2 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket sap_uim_socket2 stream 660 bluetooth bluetooth
    socket rild-debug2 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio log

on property:ro.boot.baseband=apq
    setprop ro.radio.noril yes
    stop ril-daemon
    enable qmuxd

on property:ro.boot.baseband=msm
    enable netmgrd

on property:persist.radio.multisim.config=dsds
    enable ril-daemon2

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

# adb over network
on property:adb.network.port.es=*
    setprop service.adb.tcp.port ${adb.network.port.es}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd
