on fs
    # Create battery stats dir
    mkdir /mnt/vendor/persist/battery/ 0700 system system
    # Set permissions for battery capacity
    chown system system /sys/class/power_supply/bms/charge_full
    chown system system /sys/class/power_supply/bms/cycle_count
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/cycle_count

service vendor.health-hal-2-0 /vendor/bin/hw/android.hardware.health@2.0-service.sony
    interface android.hardware.health@2.0::IHealth default
    class hal
    capabilities WAKE_ALARM
    user system
    group system
    file /dev/kmsg w
