service vendor.power-hal-1-3 /vendor/bin/hw/android.hardware.power@1.3-service.sony
    # 1.0 is somehow still required even though 1.0-3 are allowed by P/Q FCM
    interface android.hardware.power@1.0::IPower default
    interface android.hardware.power@1.1::IPower default
    interface android.hardware.power@1.2::IPower default
    interface android.hardware.power@1.3::IPower default
    class hal
    user root
    group system

on post-fs-data
    mkdir /dev/socket/powerhal 0773 system system
